.forumspage{
  overflow: hidden;
}

/*
 .navigation-bar{
    background-color: black;
    height:50px;
 }

 .logo-flixforum {
    display: flex;
    padding-left:22px;
    font-family: "BebasNeue";
    font-weight: 700;
    font-size: 26px;
    color: #D81F26;
    background-color: transparent;
 }
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    justify-content: center;
    align-items: center;
 }*/
 .show-title {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-right:540px;
    font-family: "Arial";
    font-weight: 500;
    font-size: 30px;
    color: white;
 }

 .dropdownSeason {
   display: flex;
   justify-content: center;
   padding-right: 580px;
   padding-top: 5px;
 }

 .dropdownEpisode {
   display: flex;
   justify-content: center;
   padding-right: 355px;
   padding-top: 5px;
 }

 .tvshowpicture{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 10px;
 }

 .newpost {
    float:right;
 }

 .newpost-button {
      background-color: #D81F26;
      color: black;
      font-size: 16px;
      float: right;
      height: 20px;
      display: flex;
      align-items: center;
      font-weight: 600;
    }


.commentbox {
   display:block;
   justify-content: center;
   border-radius:5px;
   border: 2px solid #414141;
   width: 420px;
   height: 150px;
   margin-left: 355px;
   padding-right: 340px;
   padding-top: 10px;
   background-color:#414141;
}

.username {
   margin-left: 15px;
   padding-top: 5px;
   border:white;
}

.post-title {
   margin-left: 10px;
   margin-left:30px;
   padding-top: 20px; 
}

.post-content{
   margin-left: 10px;
   margin-left:30px;
   padding-top: 20px; 
}

